body {
    background-color: #1a2836; 
    color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.movie-card {
    background: #1f1f1f;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
    box-shadow: 0 10px 15px  rgb(78, 54, 80);
}



.movie-card:hover {
    transform: scale(1.05); /* Slight "pop" on hover */
    z-index: 10;
}

.movie-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-info {
    padding: 10px;
}

.genre-tag {
    font-size: 0.8rem;
    color: #e50914; /* Netflix Red accent */
    font-weight: bold;
}

#back-to-top{
    margin-left: 30%;
    background-color: azure;
    color: #272727;
    border-radius: 8px;
    width: 20%;
    height: 30px;
}
#back-to-top:hover{
    transition: ease-in-out;
    transform: scale(1.2);
    color: rgb(46, 47, 47);
    background-color: antiquewhite;
}

#search-input{
     margin-left: 30%;
    background-color: azure;
    color: #272727;
    border-radius: 8px;
    width: 20%;
    height: 30px;

}
#genre-select{
    
    background-color: azure;
    color: #272727;
    border-radius: 8px;
    width: 10%;
    height: 30px;

}


/* i'm always fricking extra */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.modal-content {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    padding: 20px;
    border-radius: 16px;
    width: 300px;
    color: white;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.modal-content img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 40px;
    cursor: pointer;
    color: rgb(255, 0, 0);
}
.close-btn:hover{
    box-shadow: #e50914;
    transform: scale(1.5);
}

.modal a {
    display: inline-block;
    margin-top: 10px;
    color: #00d4ff;
    text-decoration: none;
}


/* panel */

#admin-login-btn{
   background-color: slateblue;
   color: whitesmoke;
  border-radius: 8px;
    width: 10%;
    height: 30px;
}

#new-title,#new-year,#new-director,#new-poster,#new-genre{
    background-color: azure;
    color: #272727;
    border-radius: 8px;
    width: 80%;
    height: auto;
    margin-bottom: 10px;
    padding: 8px;
}

#add{
    background-color: greenyellow;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    width: 30%;
    height: 30px;
    margin-left: 30%;
}
#add:disabled {
    background-color: #555 !important;
    cursor: not-allowed;
    opacity: 0.6;
    transform: scale(1) !important; 
}

#exit{
    background-color: crimson;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    width: 30%;
    height: 30px;
    margin-left: 30%;
}


#admin-panel {
    background: rgba(255, 255, 255, 0.05);
    padding: 20px;
    margin: 20px;
    border-radius: 12px;
    border: 1px dashed #e50914;
}


.delete-btn {
    display: none; 
    background: #e50914;
    color: white;
    border: 2px solid black;
    padding: 5px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 8px;
}
.edit-btn{
     display: none; 
    background: #23e509;
    color: white;
    border: 2px solid black;
    padding: 5px;
    cursor: pointer;
    width: 100%;
      border-radius: 8px;
}

.admin-active .delete-btn,body.admin-active .edit-btn {
    display: inline-block; 
}